/*******************************************************
 *
 * Mobile styles and other media queries
 *
 *******************************************************/

 
/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */ 
@media only screen and (max-width: 1199px) {
	header.header{
		padding: 2.250vw 4.181vw
	}

	header.header.scrolled{
		padding: max(0.972vw, 14px) 4.181vw
	}

	.newsletter-wrap .accent-bg .accent-red{
		top: -139.6px;
		left: -952px;
	}
	
	.newsletter-wrap .accent-bg .accent-white{
		bottom: -994px;
		left: -12.6px;
	}

	section#innerpage-banner{
		padding: 8.125vw 4.181vw 8.194vw
	}

	section#newsletter-section .accent-bg {
		top: 95.92px;
		left: 323.73px;
	}
	
	section#newsletter-section .accent-bg .accent-red {
		top: -117.91px;
		left: -982.3px;
	}
	
	section#newsletter-section .accent-bg .accent-white {
		bottom: -994.3px;
    	left: -30.96px;
	}

	section#innerpage-banner .accent-bg {
		top: -479px;
		right: -89px;
	}

	.newsletter-wrap .newsletter-content .newsletter-header{
		width: unset;
	}
	section#icons-section .icons-wrap {
		width: 100% !important;
	}
	section#about-content .content-wrap {
		width: 100% !important;
	}
} 

/* iPad(portrait) | Galaxy Tab 4(portrait)  */ 
@media only screen and (max-width: 991px) {

	section#product-section .slick-slide {
	    transform: scale(1) !important;
	    padding-right: 10px;
	}

	section#newsletter-section{
		padding: 6.181vw 17.194vw 6.806vw 17.194vw;
	}

	.newsletter-wrap .newsletter-content .newsletter-header{
		font-size: 30px;
		width: 350px;
	}

	header.header{
		height: 81px;
		padding: 15px;
	}

	header.header .navigation .nav-close{
		display: block;
	}

	header.header .burger-menu{
		width: 40px;
		height: 100%;
		cursor: pointer;
		display: flex;
		flex-flow: column;
	}
	
	header.header .burger-menu span{
		background: var(--primary-red);
		width: 100%;
		height: 5px;
		margin: 3.5px 0;
		border-radius: 5px;
	}
	
	header .navigation .nav-close {
		font-size: 40px;
		color: var(--primary-red);
		cursor: pointer;
	}
	
	header.header .burger-menu span:nth-of-type(1) {
		margin-top: 0;
		width: 30px;
	}
	
	header.header .burger-menu span:last-of-type{
		margin-bottom: 0;
		width: 26px;
	}

	/* Navigation */
	header.header .navigation .inside-nav{
		position: fixed;
		left: -200%;
		background: #fff;
		top: 81px;
		width: 100%;
		height: 100%;
		padding: 40px 20px;
		z-index: 1001;
		transition: all var(--ease-short-transition);
	}

	header.header .inside-nav.active{
		left: 0;
		flex-direction: column;
		align-items: center;
		background-color: #f4f4f4;
	}

	header.header .main-menu .menu-main-menu-container ul#nav li.menu-item{
		display: block;
		width: 100%;
		padding: 19px;
		text-align: center;
	}
	

	header.header .main-menu .menu-main-menu-container ul#nav li.menu-item a, header.header .side-nav a{
		font-size: 18px;
	}

	header.header .side-nav a.aios-btn{
		margin-right: unset;
		font-size: 16px;
		width: 225px;
	}

	.side-nav {
		margin: 69px 0 69px;
	}

	section#newsletter-section .accent-bg{
		top: 79.28px;
		left: 267.57px;
	}

	/* The following are used on inner pages. Please edit carefully. */
	.inner {
	    width: 100%;
	}
	#content-sidebar, #content-full {
	    width: 100%;
	}	
	.outer{
		width: 100%;
		min-width: 100%;
	}
	#content-sidebar #content{
		width: 100%;
	}	

	section#innerpage-banner, 
	#content-sidebar, #content-full{
		margin-top: 81px;
	}

	section#icons-section .icons-wrap{
        padding: 6.354vw 6vw 6.250vw 6vw;
    }

	/* Blog Page */
	#content .blog-archive .blog-archive-wrap .category-blog{
		width: calc(100% / 2);
	}

	#content .blog-archive .blog-archive-wrap .entry p{
		display: none;
	}

	.blog-archive .blog-archive-wrap .entry .archive-content-container{
		text-align: center;
	}

	.blog-archive{
		padding: 61px 19px 50px;
	}

	#content .blog-archive .blog-archive-wrap .entry .archive-date,
	#content .blog-archive .blog-archive-wrap .entry .archive-more{
		font-size: 14px;
	}

	#content .blog-archive .blog-archive-wrap .entry .archive-subtitle{
		font-size: 16px;
	}

	section#innerpage-banner .accent-bg {
		right: 167px;
		top: -356.73px;
	}

	section.featured-posts .accent-bg {
		bottom: -110px;
		right: -249px;
	}

	section#innerpage-banner .accent-bg .accent-dark-blue {
		right: -262.1px;
		bottom: -1351.5px;
	}
	
	section#innerpage-banner .accent-bg .accent-red {
		right: -902px;
		top: -741px;
	}

	#pojo-a11y-toolbar {
        display: none;
    }

	.newsletter-content .newsletter-form .aios-btn.aios-btn-red{
		margin-left: -60px;
	}

	.innerpage-banner-wrap h1.inner-section-header, #content-full h1, aside h1{
		font-size: 30px;
	}
} 

@media only screen and (max-width: 768px){
	.woocommerce div.product div.images,.woocommerce-page div.product div.images{
		width: 60%;
		margin-right: 35px;
	}
}

/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */ 
@media only screen and (max-width: 767px) {
	p{
		font-size: 16px;
	}

	section.featured-posts {
        overflow: unset;
    }

    section.featured-posts .accent-bg{
        display: none;
    }
    
    section.featured-posts .slider-navs {
        position: relative;
        display: flex;
		align-items: center;
		justify-content: center;
        text-align: center;
        bottom: -3px;
        right: 0;
        margin-top: 20px;
    }

    .featured-posts-wrap .slider-navs button{
        border-color: var(--primary-red);
        color: var(--primary-red);
        margin: 0 5px;
		width: 44px;
		height: 45px;
    }

	.featured-posts-wrap .slider-navs button:before{
		filter: unset;
	}

	.aios-btn,
	.aios-btn-sm{
		font-size: 15px;
		height: 40px;
	}

	.slider-nav{
		width: 35px;
		height: 35px;
		font-size: 16px;
	}

	.blog-archive .blog-archive-wrap{
		margin-top: 51px;
	}

	footer.footer{
		padding-top: 35px;
	}
	
	footer.footer .footer-wrap, 
	ul#menu-main-menu{
		flex-direction: column;
		justify-content: space-evenly;
	}

	footer.footer .menu-main-menu-container {
		margin: 40px 0;
	}
	
	footer.footer .menu-main-menu-container ul#menu-main-menu .menu-item {
		padding: 8px 0;
	}

	.footer-wrap ul.footernav li a, 
	footer.footer .copyright{
		font-size: 14px;
	}
	
	.footer-smi a {
		padding: 0 10px;
	}

	hr.footer-divider{
		margin: 30px 0 27px;
	}

    .ip-banner .container{
        width: 100%;
    }

	.section-header{
		font-size: 24px;
	}

	section#newsletter-section {
		padding: 73px 38px 62px;
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 490px;
	}

	section#newsletter-section .wpcf7 form.invalid .wpcf7-response-output,
	section#newsletter-section .wpcf7 form .wpcf7-response-output {
		margin: 10px;
		font-size: 14px;
	}

	section#newsletter-section .accent-bg {
		position: relative;
		display: inline-block;
		min-height: 150px;
		height: unset;
		width: unset;
		top: -211px;
		left: -222px;
	}
	
	section#newsletter-section .accent-bg .accent-red {
		top: -924px;
		left: -558px;
	}
	
	section#newsletter-section .accent-bg .accent-white {
		bottom: unset;
		top: 20px;
		left: -611px;
	}
	
	.newsletter-form.flex.items-center.justify-center {
		flex-flow: column;
	}
	
	.newsletter-content .newsletter-form input[type='email'] {
		height: 40px;
		margin-bottom: 11px;
		font-size: 16px;
    	text-align: center;
	}
	
	.newsletter-content .newsletter-form .aios-btn.aios-btn-red {
		height: 40px;
		margin-left: unset;
	}
	
	.newsletter-wrap .newsletter-content .newsletter-header {
		margin-bottom: 21px;
		font-size: 24px;
		width: 268px;
		
	}

	section#newsletter-section:after{
		/* right: -30%; */
		/* width: 100%; */
		transform: scale(1);
		width: 100%;
		top: unset;
		bottom: -110px;
		right: -249px;
	}

	section#contact-section .contact-wrap .contact-info, section#contact-section .contact-wrap .contact-form{
		width: 100% !important;
		display: flex;
		flex-direction: column;
	}

	section#contact-section .contact-wrap {
		flex-flow: column;
	}
	
	section#contact-section::before {
		left: unset !important;
		right: -29.188vw;
	}

	/* section#innerpage-banner{
		padding: 51px 39px 189px;
		text-align: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		height: 412px;
    } */
	section#innerpage-banner {
		padding: 51px 39px 51px;
		text-align: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: auto;
		align-items: center;
	}

	section#icons-section .icons-wrap .icons-container {
        flex-flow: column;
    }
    
    section#icons-section .icons-wrap .icons-container .icon{
        margin: 30px 0;
    }

	.blog-single .post.category-blog {
		padding: 39px 20px 51px !important;
	}

	section#innerpage-banner .accent-bg {
		position: relative;
		display: inline-block;
		height: unset;
		width: unset;
		min-height: 150px;
		right: unset;
		/* top: 15px;
		left: 80px; */
		top: 40px;
		left: 0;
		transform: rotate(30deg);
	}
	
	section#innerpage-banner .accent-bg .accent-red {
		top: 79px;
		left: -40px;
		width: 700px;
		height: 500px;
	}
	
	section#innerpage-banner .accent-bg .accent-dark-blue{
		bottom: unset;
		top: 257px;
		left: -467px;
		height: 300px;
		width: 399px;
	}

	.post-slide .post-info{
        width: 100%;
        padding: 102px 23px 30px;
        text-align: center;
    }

    .post-slide .post-info p:nth-of-type(1){
        margin-bottom: 17px !important;
		font-size: 20px;
    }

	.post-slide .post-info h3.section-header {
		font-size: 24px !important;
	}

	.featured-post-slider .post-slide::before{
		background: rgb(37,124,191);
		background: linear-gradient(0deg, rgba(37,124,191,0.7875525210084033) 74%, rgba(37,124,191,0.14329481792717091) 99%, rgba(255,255,255,0) 100%);
	}

    .post-slide .post-info p:nth-of-type(2){
        display: none;
    }

	.blog-archive .load-more-container .aios-btn{
		height: 40px;
		width: 184px;
	}

    #content .post-slide .post-info .archive-more.aios-btn{
		display: flex;
		font-size: 16px;
		text-align: center;
		justify-content: center;
		align-items: center;
		height: 40px;
		width: 139px;
		margin: auto;
    }
    #login-form-popup .popup-main {
        padding: 90px 15px 55px;
    }

    .popup-wrapper {
        padding: 25px 15px;
    }

    .popup-form-col > label, .popup-form-col .forgot-password {
        font-size: 16px;
    }

    .popup-form-title {
        font-size: 30px;
    }

    .popup-return {
        left: 15px;
    }

    .popup-close {
        right: 15px;
    }

    .popup-main {
        padding: 78px 15px 48px;
    }

    .popup-cta-item {
        padding: 0 5px;
    }

    .popup-cta-list {
        margin: 0 -5px;
    }

    .popup-cta-title {
        font-size: 25px;
    }

    .popup-cta-item a span em {
        width: 60px;
        height: 60px;
        background-size: 42%;
    }

    .popup-cta-item a {
        height: 170px;
        font-size: 20px;
    }

	.cart-button-container .added-cart-text{
		height: 32px;
	}

	.woocommerce div.product div.images,.woocommerce-page div.product div.images{
		width: 100%;
		margin-right: 0px;
	}
}

/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */ 
@media only screen and (max-width: 480px) {

	section#newsletter-section .accent-bg {
		top: -163px;
		left: -139px;
	}

	section#newsletter-section .accent-bg .accent-red{
		top: -923px;
		left: -623px;
	}

	section#newsletter-section .accent-bg .accent-white {
		top: 24px;
		left: -690px;
	}

	section#newsletter-section:after{
		transform: scale(0.8);
		width: 100%;
		bottom: -115px;
		right: -202px;
	}
	section#innerpage-banner .accent-bg {
		top: 60px;
		left: 50px;
	}
}
