.founders-single{
    background-color: var(--secondary-blue);
    padding: 6.510vw 8.698vw 10.781vw 8.698vw;
}

.founders-single .founder-wrap .founder-inner {
    flex-direction: row;
}

.founders-single .founder-main .section-header span {
    display: block;
    color: #000;
}

.founder-inner .content-left{
    width: 30%
}

.founder-inner .founder-main{
    width: 65%
}

.founder-inner .smi-wrap {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: max(1.354vw, 26px);
}
.founder-inner .smi-wrap a{
    width: max(2.344vw, 45px);
    height: max(2.344vw, 45px);
    background-color: var(--primary-blue);
    color: #FFF;
    text-align: center;
    padding: max(0.729vw, 14px) 0;
    border-radius: 50%;
    margin: 0 max(0.260vw, 5px);
    
}

.founder-inner .smi-wrap a span{
    font-size: var(--font-size-default);
}

.founders-single .founder-main .section-header,
.founders-single .founder-main .section-subheader{
    margin: unset !important;
}

.founders-single .founder-main .section-header{
    margin-bottom: max(0.781vw, 15px) !important;    
}

.founders-single .founder-main .section-subheader{
    margin-bottom: max(2.083vw, 40px) !important;
}


/* Responsive */
@media only screen and (max-width: 767px) {
    .founders-single .founder-wrap .founder-inner{
        flex-flow: column;
    }

    .founder-inner .content-left, 
    .founder-inner .founder-main{
        width: 100%;
        margin-bottom: 30px;
    }

    .founders-single .founder-main .section-header,
    .founders-single .founder-main .section-subheader{
        text-align: center;
    }
}

