/* 
* 
* Founder Section
*
*/
section#founders-section .founder-wrap {
    padding: 4.010vw 0 7.917vw 11.528vw;
    position: relative;
    overflow: hidden;
}

.founder-wrap .founder-nav {
    margin-right: 7.750vw;
    margin-bottom: 2.083vw;
}

.founder-wrap .founder-nav .the-company-nav .slider-nav {
    margin: 0 0.521vw;
    color: var(--primary-red);
    border-color: var(--primary-red);
    margin: 0 10px;
}

.the-company-nav .slider-nav.aios-btn-sm.aios-btn-red:hover {
    background-color: var(--primary-red);
    color: #FFF;
}

/* .founder-slider .slick-slide{
	width: max(24.306vw, 350px) !important;
	height: max(32.847vw, 473px) !important;
} */

.founder-slider .founder-slide {
    padding-right: max(2.222vw, 36px);
    transition: all var(--ease-short-transition);
}

.founder-slider .founder-slide:hover{
    cursor: pointer;
}

.founder-slider .founder-slide .founder-img {
    position: relative;
    display: block;
}

.founder-slider .founder-slide .founder-img canvas {
    display: block;
    width: 100%;
}

.founder-slider .founder-slide:hover .founder-img img{
    opacity: 1;
}

.founder-slider .founder-slide .founder-img img {
    object-fit: cover;
    object-position: top center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: opacity var(--ease-short-transition);
}

.founder-slider .founder-slide .founder-info {
    margin-top: max(1.111vw, 16px);
}

.founder-slider .founder-slide .founder-info h3 {
    color: var(--primary-red);
    font-size: max(1.250vw, 24px);
    line-height: 1.4;
    font-weight: bold;
}

.founder-slider .founder-slide .founder-info h3 span {
    display: block;
    font-size: var(--font-size-default);
    color: #000;
    line-height: 1;
}
.founder-slider .founder-slide .founder-info p{
    line-height: 1;
    margin-top: 12px;
    font-size: 18px;
}

/*
* Responsive
*   
*
*/
@media only screen and (max-width: 1199px){
    .founder-slider .founder-slide .founder-info h3 span, 
    .founder-slider .founder-slide .founder-info p{
        font-size: 16px;
    }
    
}



@media only screen and (max-width: 767px) {
    section#icons-section .icons-wrap .icons-container {
        flex-flow: column;
    }
    
    section#icons-section .icons-wrap .icons-container .icon{
        margin: 30px 0;
    }
    
    section#founders-section .founder-wrap {
        padding: 55px 22px 52px;
    }
    
    .founder-wrap .founder-nav {
        display: block;
        text-align: center;
        margin: 0;
    }

    .founder-slider{
        margin-bottom: 40px;
    }

    .founder-slider .founder-slide{
        padding-right: 0;
    }

    .founder-wrap .founder-nav .the-company-nav{
        position: absolute;
        bottom: -15px;
        margin: 40px 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .founder-slider .founder-slide .founder-info {
        text-align: center;
    }

    .founder-wrap .founder-nav .section-header{
        margin-bottom: 28px;
    }
}

@media only screen and (max-width: 480px) {
    .founder-slider .founder-slide .founder-img{
        height: 473px;
        margin: auto;
    }
}