.board-container{
    width: 100%;
    padding: 6.406vw 8.750vw 6.198vw 8.750vw;
}

.board-container .section-header{
    margin-bottom: max(1.979vw, 38px);
}

.board-container .board-wrap .board-info{
    width: calc(100% / 3);
    padding: max(0.807vw, 15.5px);    
}

.board-container .board-wrap .board-info a:hover .img-container img{
    opacity: 1;
}

.board-container .board-wrap .board-info .img-container{
	position: relative;
	display: block;
}

.board-container .board-wrap .board-info .img-container img{
	object-fit: cover;
    object-position: top center;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	transition: opacity var(--ease-short-transition);
}

.board-container .board-wrap .board-info .img-container canvas{
    display: block;
    width: 100%;
}

.board-container .board-wrap .board-info .content .section-header{
    font-size: max(1.250vw, 24px) !important;
    margin: max(0.781vw, 15px) 0 0 !important;
}

.board-container .board-wrap .board-info .content .section-header span{
    display: block;
    font-size: var(--font-size-default);
    color: #000;
}

.board-container .board-wrap .board-info .content p{
    margin: max(0.625vw, 12px) 0 !important;
    line-height: 1.4 !important;
}

/* Responsive */
@media only screen and (max-width: 991px) {
    .board-container .board-wrap .board-info{
        width: calc(100% / 2);
    }
}

@media only screen and (max-width: 767px) {
    .board-container .board-wrap .board-info{
        width: 100%;
        padding: 0;
    }

    .board-container .board-wrap .board-info .content{
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {

}