.single-product {
    background-color: var(--secondary-blue);
}

.single-product div#primary {
    padding: 4.583vw 11.458vw 8.472vw;
    margin-top: 8vw;
}

.single-product .container {
    width: 100%;
}

.featured-product-slider .product-slide .product-info .aios-btn-red:hover{
    color: var(--primary-red);
}

.woocommerce .single-product .woocommerce-breadcrumb{
    display: none;
}

.woocommerce .single-product div.product div.images .woocommerce-product-gallery__image:nth-child(n+2){
    display: none;
}

.woocommerce .single-product div.product div.images{
    margin-bottom: 0;
}

.woocommerce .single-product div.product .product_title{
    font-size: var(--font-size-title);
    font-weight: bold;
    margin-bottom: 20px;
}

.woocommerce .single-product div.product p.price, .woocommerce .single-product div.product span.price{
    font-size: max(1.667vw, 32px);
    font-family: var(--font-family-default);
    font-weight: bold;
    color: var(--primary-blue);
    margin-bottom: 26px;
}

.woocommerce .single-product div.product form.cart{
    display: flex;
    align-items: center;
}

.woocommerce .single-product div.product form.cart .button{
    background-color: var(--primary-red);
    color: #FFF;
    border-radius: 45px;
    transition: all var(--ease-short-transition);
    font-size: 16px;
    width: max(8.906vw, 171px);
    height: 50px;
}

.woocommerce .single-product div.product form.cart .button:hover{
    background-color: #FFF;
    color: var(--primary-red);
    border: 1px solid var(--primary-red);
}

.woocommerce .single-product .woocommerce-product-details__short-description{
    margin-bottom: max(1.875vw, 27px);

}

.woocommerce .single-product .single-product-summary{
    margin-bottom: max(4.653vw, 67px);
}

.single-product-details-related .product-details {
    padding: 4.167vw 4.306vw 4.167vw 3.611vw;
    background-color: #FFF;
    margin-right: max(2.083vw, 30px);
    width: 75%;
}

.single-product-details-related .related-products{
    width: 24%;
}

section.related.products h2{
    margin-bottom: max(2.014vw, 29px);
    font-size: max(1.667vw, 32px);
    line-height: 1;
    font-weight: bold;
    color: var(--primary-red);
}

section.related.products .products.columns-4 {
    display: flex; 
    flex-direction: column;
}

.woocommerces ection.related.products ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product{
    width: 100%;
    margin: 0 0 25px 0;
}

section.related.products .products .loop-product-wrap{
    background-color: #FFF;
    transition: all var(--ease-short-transition);
}

section.related.products .products .loop-product-wrap:hover{
    background-color: var(--primary-blue);
}

section.related.products .products .loop-product-wrap:hover .loop-product-content h2{
    color: #FFF;
}

section.related.products .products .loop-product-wrap .loop-product-content h2{
    padding: 22px 19px; 
    color: var(--primary-blue);
    transition: all var(--ease-short-transition);
}

.woocommerce section.related.products ul.products li.product .button{
    display: none;
}

.woocommerce section.related.products ul.products li.product a img{
    margin: unset;
}

.single-product-details-related .product-details .detail {
    margin-bottom:  24px;
}

.single-product-details-related .product-details .detail h2{
    font-size: max(1.667vw, 24px);
    font-weight: bold;
    margin-bottom: 20px;
}


/* 
* 
* Product Slider Section
*
*/

section#product-section {
    display: block;
    position: relative;
    background: linear-gradient(to top, var(--secondary-blue) 50%, transparent 0);

}

.product-section-wrap {
    padding: 8.611vw 0 7.014vw 11.458vw;
    overflow: hidden;
}

.product-header-nav{
    margin-right: 7.750vw;
    margin-bottom: 1.823vw;
}

.product-nav button {
    color: var(--primary-red);
    border-color: var(--primary-red);
    margin: 0 10px;
}

.product-nav a.aios-btn.aios-btn-red{
    margin: 0 10px;
    width: max(9.010vw, 173px);
}

.product-nav .aios-btn.aios-btn-red:hover{
    background-color: #fff;
    color: var(--primary-red);
}

.product-nav .slider-nav.aios-btn.aios-btn-red:hover{
    background-color: var(--primary-red);
    color: #FFF;
}

.product-slider .product-slide {
    padding-right: 2.222vw;
}

.product-slide:hover{
    cursor: pointer;
}

.product-slide .product-img {
    display: block;
    position: relative;
}

.product-slide .product-img canvas {
    display: block;
    width: 100%;
}

.product-slide .product-img img {
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity var(--ease-short-transition);
}

.product-slide .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: max(1vw, 16px);
    background-color: #FFF;
    padding: 0 max(1.042vw, 20px);
    transition: background-color var(--ease-short-transition);
    min-height: 83px;
}

.product-slide:hover .product-info{
    background-color: var(--primary-blue);
}

.product-slide:hover .product-info h3{
    color: #FFF;
}

.product-slide .product-info a.aios-btn-sm{
    color: #FFF;
    width: max(4.740vw, 91px);
    font-size: 16px;
}

.product-slide .product-info h3 {
    display: block;
    font-size: max(1.25vw, 24px);
    color: var(--primary-blue);
    font-weight: 600;
}

.product-slide .product-info h3 span {
    display: block;
    color: #4C4C4C;
    font-size: var(--font-size-default);
    padding-top: 0.469vw;
}


/* Featured Product Slider */
.featured-product-slider .product-slide {
    display: flex !important;
    align-items: stretch;
    padding-left: unset;
}

.featured-product-slider .product-slide .img-container {
    display: block;
    width: 35%;
    height: 100%;
    position: relative;
}

.featured-product-slider .product-slide .product-info {
    width: 65%;
    background-color: var(--primary-blue);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 70px;
}

.featured-product-slider .product-slide .product-info h3{
    color: #FFF;
    font-size: var(--font-size-title) !important;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 58px 0  !important;
}

.featured-product-slider .product-slide .img-container canvas {
    display: block;
    width: 100%;
}

.featured-product-slider .product-slide .img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

section.featured-products {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
}

section.featured-products .accent-bg {
    transform: rotate(-30deg);
    bottom: -16.208vw;
    right: -18.75vw;
}

section.featured-products .accent-bg .accent-red {
    right: -413px;
    bottom: -576px;
    width: clamp(63.611vw, 916px, 916px);
    height: clamp(63.611vw, 916px, 916px);
}

section.featured-products .slider-navs {
    position: absolute;
    display: block;
    bottom: 29px;
    right: 37px;
    z-index: 9;
}

.featured-products-wrap .slider-navs button{
    background-color: transparent;
    color: #FFF;
    margin: 0 5px;
}


@media only screen and (max-width: 991px){
    section.featured-products .accent-bg{
        display: none;
    }

    section.featured-products {
        overflow: unset;
    }
    
    section.featured-products .slider-navs {
        position: relative;
        display: block;
        text-align: center;
        bottom: -3px;
        right: 0;
        margin-top: 30px;
    }

    .featured-products-wrap .slider-navs button{
        border-color: var(--primary-red);
        color: var(--primary-red);
    }
}

@media only screen and (max-width: 767px) { 
    .single-product div#primary{
        padding: 50px 19px 77px;
        margin-top: 81px;
    }

    .woocommerce .single-product .single-product-summary {
        flex-direction: column;
        text-align: center;
    }
    
    .woocommerce .single-product .single-product-summary div.summary {
        margin-top: 28px;
        margin-bottom: 0;
    }
    
    .woocommerce .single-product div.product form.cart {
        justify-content: center;
        margin-bottom: 0;
    }
    
    .single-product-details-related {
        flex-direction: column;
    }
    
    .single-product-details-related .product-details {
        width: 100%;
        margin-right: unset;
        margin-bottom: 57px;
    }
    
    .single-product-details-related .related-products{
        width: 100%;
    }

    .product-section-wrap{
        padding: 59px 0px 59px 21px;
    }
    
    .product-slider{
        display: block;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .product-header-nav .product-nav {
        position: absolute;
        bottom: 0;
        left: 0;
        justify-content: space-between;
        width: 100%;
        padding: 0 21px;
    }

    .product-slide{
        padding-left: unset;
    }

    section.related.products h2{
        text-align: center;
    }

    .featured-product-slider .product-slide .img-container,
    .featured-product-slider .product-slide .product-info{
        width: 100%;
    }
    
    .featured-product-slider .product-slide .product-info {
        align-items: center;
        padding: 0;
        justify-content: space-between;
    }
    
    .featured-product-slider .product-slide .product-info h3 {
        margin: 19px  0 39px 0 !important;
        font-size: 24px !important;
    }
    
    .featured-product-slider .product-slide .product-info .aios-btn-red {
        margin-bottom: 25px;
        width: auto;
    }   
}

@media only screen and (max-width: 480px) { 
    .featured-product-slider .product-slide {
        flex-direction: column;
    }
}