.shop-container .shop-wrap .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering{
    float: unset;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.shop-container .shop-wrap .woocommerce-notices-wrapper{
    display: none;
}

.woocommerce .shop-container .shop-wrap .products ul, .woocommerce ul.products{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start
}

.woocommerce .shop-container .shop-wrap ul.products li.product{
    float: unset;
    margin: unset; 
    width: calc(100% / 3);
}

.woocommerce .shop-container .shop-wrap ul.products li.product .loop-product-wrap {
    margin: 13px 13px;
    background-color: #FFF;
    transition: all var(--ease-short-transition);
} 

.woocommerce .shop-container .shop-wrap ul.products li.product:hover{
    cursor: pointer;
} 


.woocommerce .shop-container .shop-wrap ul.products li.product:hover .loop-product-wrap{
    background-color: var(--primary-blue);
}


.woocommerce .shop-container .shop-wrap ul.products li.product a img{
    margin-bottom: unset;
    height: max(17.569vw, 253px);
    object-fit: scale-down;
    object-position: center;
    background-color: #FFF;
}

.woocommerce .shop-container .shop-wrap ul.products li.product .loop-product-wrap .loop-product-content {
    min-height: max(9.722vw, 140px);
    padding-top: max(1.181vw, 17px);
}

.woocommerce .shop-container .shop-wrap ul.products li.product .woocommerce-loop-product__title{
    padding: 0 max(1.806vw, 26px);
    color: var(--primary-blue);
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.woocommerce .shop-container .shop-wrap ul.products li.product .product-generic-name{
    padding: 0 max(1.806vw, 26px);
    font-size: var(--font-size-default);
    font-family: var(--font-family-belleza);
    text-align: left;
    margin-top: 9px;
    display: block;
    color: #4C4C4C;
}

.woocommerce .shop-container .shop-wrap ul.products li.product:hover .woocommerce-loop-product__title{
    color: #fff;
}

.woocommerce .shop-container .shop-wrap ul.products li.product .button{
    background-color: var(--primary-red);
    color: #FFF;
    border-radius: 45px;
    margin: unset;
    transition: all var(--ease-short-transition);
    font-size: 16px;
    width: max(6.198vw, 119px);
    position: relative;
}

.woocommerce .shop-container .shop-wrap ul.products li.product .button:hover{
    background-color: #FFF;
    color: var(--primary-red);
}

.shop-container{
    background-color: var(--secondary-blue);
}

.shop-container .shop-wrap{
    padding: 4.542vw 11.458vw 8.264vw;
}

.shop-container .shop-wrap .shop-before-loop{
    margin-top: max(5vw, 72px);
    margin-bottom: max(2.083vw, 30px);
}

.shop-container .shop-wrap .aios-btn.aios-btn-red{
    background-color: transparent;
    color: var(--primary-red);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    transition: all var(--ease-short-transition);
    width: max(8.438vw, 162px);
}

.shop-container .shop-wrap .aios-btn.aios-btn-red img{
    width: 20px;
    height: 18px;
    margin-right: 11px;
}

.shop-container .shop-wrap .aios-btn.aios-btn-red:hover{
    background-color: var(--primary-red);
    color: #FFF;
}

.shop-container .shop-wrap .aios-btn.aios-btn-red:hover img{
    filter: brightness(0) invert(1);
}

.shop-container .shop-wrap .woocommerce .woocommerce-ordering, 
.woocommerce-page .woocommerce-ordering select{
    font-size: 18px;
    font-weight: bold;
    border: 0;
    height: 35px;
    background-color: transparent;
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
    padding-right: 33px;
    /* text-align: right;
    direction: rtl; */
}

form.woocommerce-ordering:after {
    content: '';
    width: 17px;
    height: 10px;
    z-index: 10;
    background-image: url(../../../images/svg/ai-icon-angle-up-solid.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    transform: rotate(-180deg);   
}

.shop-container .shop-wrap .woocommerce .woocommerce-ordering:focus-visible, 
.woocommerce-page .woocommerce-ordering select:focus-visible {
    outline: 0;
}

@media only screen and (max-width: 1199px) {
    .shop-container .shop-wrap {
        padding: 7.542vw 2.458vw 8.264vw;
    }

    .featured-product-slider .product-slide .product-info{
        padding-left: 30px;
    }
}

/* Responsive */
@media only screen and (max-width: 991px) {
    .shop-container .shop-wrap{
        padding: 48px 20px 51px;
    }

    .woocommerce .shop-container .shop-wrap ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product{
        width: calc(100% / 2);
    }

    .woocommerce .shop-container .shop-wrap ul.products li.product{
        width: calc(100% / 2);
    }

    .woocommerce .shop-container .shop-wrap ul.products li.product .loop-product-wrap{
        margin: 14px 10px;
    }

    .shop-container .shop-wrap .woocommerce .woocommerce-ordering, 
    .woocommerce-page .woocommerce-ordering select{
        padding-right: 23px;
    }
}

@media only screen and (max-width: 767px) {

    .shop-container .shop-wrap .shop-before-loop{
        margin-top: 51px;
        margin-bottom: 17px;
        justify-content: flex-end;
    }

    .woocommerce .shop-container .shop-wrap ul.products li.product .loop-product-wrap .loop-product-content{
        min-height: 83px;
        padding-top: 11px;
        display: flex;
        flex-direction: column;
    }
    .shop-container .shop-wrap .aios-btn.aios-btn-red{
        display: none;
    }

    .shop-container .shop-wrap .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering select{
        font-size: 14px;
    }

    .woocommerce .shop-container .shop-wrap ul.products li.product .loop-product-wrap{
        margin: 7px 5px;
    }

    .shop-container .shop-wrap{
        padding: 48px 10px 51px;
    }

    .woocommerce .shop-container .shop-wrap ul.products li.product .woocommerce-loop-product__title{
        font-size: 16px;
        padding: 0 14px;
    }

    .woocommerce .shop-container .shop-wrap ul.products li.product .product-generic-name{
        font-size: 14px;
        padding: 0 14px;
    }

    .woocommerce .shop-container .shop-wrap ul.products li.product .button, 
    .loop-cart-button-container .added-cart-text{
        width: 80px;
        height: 30px;
        font-size: 10px;
    }

    .loop-cart-button-container {
        margin: unset;
        padding: 9px 12px;
    }

    .loop-cart-button-container .added-cart-text{
        margin: 9px 12px;
        transform: translateX(-200%);
    }

    .woocommerce .shop-container .shop-wrap ul.products li.product{
        width: 50%;
    }
}   

@media only screen and (max-width: 480px) {
    .woocommerce .shop-container .shop-wrap ul.products li.product a img{
        height: 115px;
    }
}
