/* 
*
* Icons
*
*/
section#icons-section{
    background-color: #fff;
}

section#icons-section .icons-wrap {
    padding: 6.250vw 15.625vw 2.734vw;
}

section#icons-section .icons-wrap .icons-container .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#icons-section .icons-wrap .icons-container .icon img {
    margin-bottom: 1.823vw;
}

section#icons-section .icons-wrap .icons-container .icon h3 {
    font-size: max(1.667vw, 32px);
    font-weight: bold;
}


/* 
*
* About Content
*
*/
section#about-content {
    display: block;
    width: 100%;
}

section#about-content .content-wrap {
    padding: 2.734vw 8.333vw 3.255vw 8.854vw;
}

.content-wrap .section-text .content-header {
    font-size: max(1.667vw, 32px);
    font-weight: bold;
    margin-bottom: 1.563vw;
}

.content-wrap .section-text,
.content-wrap .section-image {
    width: 50%;
}

.content-wrap .section-image .img-container {
    position: relative;
    display: block;
    width: 100%;
}

.content-wrap .section-image .img-container canvas{
    display: block;
    width: 100%;
}

.content-wrap .section-image .img-container img{
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity var(--ease-short-transition);
}

.content-wrap .about-section-1 .section-text .section-content {
    margin-right: 2.292vw;
    margin-bottom: 2.240vw;
}

.content-wrap .about-section-2 .section-text .section-content {
    margin-left: 2.292vw;
    margin-bottom: 2.240vw;
}

.content-wrap .about-section-1, 
.content-wrap .about-section-2{
    margin: 3.750vw 0;
}

/* 
*
* Mission Vision Section
*
*/
section#mission-vision{
    position: relative; 
    width: 100%;
    display: block;
    overflow: hidden;
}

section#mission-vision:before{
    content: '';
    display: block;
    position: absolute;
    top: -18.802vw;
    left: -15.885vw;
    background-color: var(--primary-red);
    width: 31.250vw;
    height: 20.833vw;
    z-index: 6;
    transform: rotate(60deg);
}

section#mission-vision:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -12.448vw;
    right: -4.063vw;
    background-color: var(--primary-red);
    width: 15.625vw;
    height: 20.833vw;
    z-index: 6;
    transform: rotate(60deg);
}

.mission-vision-wrap .mission-wrap,
.mission-vision-wrap .vision-wrap{
    padding: 5.938vw 5.729vw 11.667vw 5.781vw;
    text-align: center;
    width: 50%;
}

.mission-vision-wrap .mission-wrap{
    background-color: #306091;
}

.mission-vision-wrap .vision-wrap{
    background-color: var(--primary-blue);
}

.mission-vision-wrap h2, .mission-vision-wrap p {
    color: #FFF;
}

.mission-vision-wrap h2 {
    font-size: var(--font-size-title);
    font-weight: bold;
    margin-bottom: 1.406vw;
}


/* 
*
* Responsiveness
*
*/
@media only screen and (max-width: 991px) {
    section#about-content .content-wrap{
        padding: 6.354vw 6vw 6.250vw 6vw;
    }

    .content-wrap .about-section-1{
        flex-direction: column-reverse;
    }
    .content-wrap .about-section-2{
        flex-direction: column;
    }

    .content-wrap .section-text, .content-wrap .section-image{
        width: 100%;
    }

    .content-wrap .about-section-2 .section-text .section-content, 
    .content-wrap .about-section-1 .section-text .section-content{
        margin: 2.240vw;
    }
}

@media only screen and (max-width: 767px) {
    section#mission-vision .mission-vision-wrap {
        flex-flow: column;
    }
    
    .mission-vision-wrap .mission-wrap, .mission-vision-wrap .vision-wrap {
        width: 100%;
    }
}
