.checkout-page-container .checkout-wrap{
    padding: 3.125vw 11.667vw 2.194vw;
    font-size: var(--font-size-default) !important;
}

.checkout-page-container .woocommerce #payment #place_order, 
.checkout-page-container .woocommerce-page #payment #place_order{
    background-color: var(--primary-red) !important;
    color: #FFF;
    border-radius: 45px;
    transition: all var(--ease-short-transition);
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 16px !important;
    text-align: center !important;
    width: max(8.264vw, 119px);
    font-family: var(--font-family-default);
    padding: unset !important;
    width: max(12.986vw, 187px);
}

.checkout-page-container .woocommerce form .form-row input.input-text, 
.checkout-page-container .woocommerce form .form-row textarea{
    border: 1px solid var(--secondary-text);
    height: max(2.604vw, 50px);
    width: 100%;
    padding: 0.938vw 0.667vw;
    font-family: var(--font-family-para);
    font-size: var(--font-size-default);
    color: var(--primary-darker) !important;
    border-radius: 5px;
}

.checkout-page-container .woocommerce form .form-row textarea{
    height: 216px;
}

.checkout-page-container .selection{
    height: 50px;
}

.checkout-page-container .select2-container--default .select2-selection--single{
    height: 50px;
    height: max(2.604vw, 50px);
    width: 100%;
    font-family: var(--font-family-para);
    font-size: var(--font-size-default);
    color: var(--primary-darker) !important;
    display: flex;
    align-items: center;
}

.checkout-page-container .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 100%;
}

.checkout-page-container .woocommerce-privacy-policy-text{
    margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {

    .checkout-page-container .checkout-wrap{
        padding: 3.125vw 2.667vw 2.194vw;
    }
}