.checkout-page-container .checkout-wrap{
    padding: 3.125vw 11.667vw 2.194vw;
    font-size: var(--font-size-default) !important;
}

.checkout-page-container .woocommerce #payment #place_order, 
.checkout-page-container .woocommerce-page #payment #place_order{
    background-color: var(--primary-red);
    color: #FFF;
    border-radius: 45px;
    transition: all var(--ease-short-transition);
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 16px !important;
    text-align: center !important;
    width: max(8.264vw, 119px);
    font-family: var(--font-family-default);
    padding: unset !important;
    width: max(12.986vw, 187px);
    border: 2px solid var(--primary-red);
}

.checkout-page-container .woocommerce form .form-row input.input-text, 
.checkout-page-container .woocommerce form .form-row textarea{
    border: 1px solid var(--secondary-text);
    height: max(2.604vw, 50px);
    width: 100%;
    padding: 0.938vw 0.667vw;
    font-family: var(--font-family-para);
    font-size: var(--font-size-default);
    color: var(--primary-darker) !important;
    border-radius: 5px;
}

.checkout-page-container .woocommerce form .form-row textarea{
    height: 216px;
}

.checkout-page-container .selection{
    height: 50px;
}

.checkout-page-container .select2-container--default .select2-selection--single{
    height: 50px;
    height: max(2.604vw, 50px);
    width: 100%;
    font-family: var(--font-family-para);
    font-size: var(--font-size-default);
    color: var(--primary-darker) !important;
    display: flex;
    align-items: center;
}

.checkout-page-container .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 100%;
}

.checkout-page-container .woocommerce-privacy-policy-text{
    margin-bottom: 30px;
}

.checkout-page-container h3{
    font-size: 24px; 
    font-weight: bold;
    margin: 26px 0;
}

fieldset#cynder-paymongo-form {
    display: flex;
    flex-direction: column;
}

.woocommerce-checkout #payment ul.payment_methods li input[type="text"],
.woocommerce-checkout #payment ul.payment_methods li input[type="password"]{
    border: 1px solid var(--secondary-text);
    height: max(2.604vw, 50px);
    width: 100%;
    padding: 0.938vw 0.667vw;
    font-family: var(--font-family-para);
    font-size: var(--font-size-default);
    color: var(--primary-darker) !important;
    border-radius: 5px;
}

.woocommerce form .form-row label{
    line-height: 1.6 !important;
}

.woocommerce-notice.woocommerce-notice--success {
    font-size: var(--font-size-title);
    font-family: var(--font-family-lato);
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

h2.woocommerce-order-details__title, 
h2.woocommerce-column__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

@media only screen and (max-width: 767px) {

    .checkout-page-container .checkout-wrap{
        padding: 3.125vw 2.667vw 2.194vw;
    }

    label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
        margin-left: 30px;
    }

    .woocommerce ul.order_details {
        display: flex;
        flex-direction: column;
    }
    
    .woocommerce ul.order_details li {
        margin-bottom: 15px;
    }

    .woocommerce-notice.woocommerce-notice--success{
        font-size: 24px;
    }

    h2.woocommerce-order-details__title {
        font-size: 18px;
    }
}