/* 
* 
* Contact Us Section
*
*/
section#contact-section {
    padding: 6.354vw 10vw 6.250vw 10vw;
    position: relative; 
    display: block;
    overflow: hidden;
}

section#contact-section .contact-wrap .contact-info,  
section#contact-section .contact-wrap .contact-form{
    width: 50%;
}

.contact-info .section-subheader, 
.contact-info p{
    color: #000;
}

.contact-info .section-header{
    margin-bottom: max(1.510vw, 24px);
}

.contact-info .section-subheader{
    margin-bottom: max(1.875vw, 24px);
    font-size: max(1.250vw, 24px);
}

.contact-info .contact-links{
    margin-bottom: max(0.885vw, 17px);
}

.contact-info .contact-links i{
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-blue);
    color: #FFF;
    background-color: var(--primary-blue);
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-right: 0.729vw;
}

.contact-info .contact-links i img {
    filter: brightness(0) invert(1);
}

.contact-info .contact-links i.ai-font-envelope{
    font-size: 15px;
}

.contact-form {
    font-family: var(--font-family-para);
}

.contact-content .aios-form-group{
    width: 100%;
    margin-bottom: max(1.250vw, 24px);
}

.contact-content .aios-form-group.flex label{
    margin-right: 1.688vw;
    
}
.contact-content label span {
    margin-bottom: 0.750vw;
    display: block;
}

.aios-submit{
    margin-top: 1.563vw;
    display: flex;
    align-items: center;
}

.aios-submit .aios-btn.aios-btn-red {
    font-family: var(--font-family-default);
    width: max(9.740vw, 187px);
    height: 50px;
}

.aios-submit .aios-btn.aios-btn-red:hover{
    background-color: #FFF;
    color: var(--primary-red);
}

.contact-content .aios-form-control{
    background-color: var(--secondary-blue);
}


/* 
*
* Responsiveness
*
*/
@media only screen and (max-width: 991px) {
    section#contact-section{
        padding:  6.354vw 6vw 6.250vw 6vw;
    }

    section#contact-section .contact-wrap{
        flex-direction: column;
    }

    section#contact-section .contact-wrap .contact-info, 
    section#contact-section .contact-wrap .contact-form{
        width: 100%;
        margin: max(1.563vw, 30px) 0;
    }

    .contact-content .aios-form-group {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    .contact-info .contact-links{
        display: flex; 
        align-items: start;
    }

    .contact-info .contact-links i{
        margin-right: max(2.729vw, 24px);
    }

    .contact-info .contact-links i {
        width: 35px;
        height: 35px;
        font-size: 21px;
    }

    .contact-info .contact-links i.envelope img{
        width: 19px;
        height: 14px;
    }

    .contact-info .contact-links i.map-locator img,
    .contact-info .contact-links i.phone img{
        width: 13px;
        height: 18px;
    }
}

@media only screen and (max-width: 767px) {

}