/* 
* 
* Hero Banner
*
*/
section#hero-banner{
    background-image: url(../../images/topfold-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-top: 8vw;
    position: relative;
    display: inline-block;
    padding: 6.250vw 10.375vw 12.688vw;
    z-index: 99;
    overflow: hidden;
}

section#hero-banner::before{
    content: '';
    display: block;
    position: absolute;
    background-color: var(--primary-red);
    opacity: 0.8;
    left: -10.938vw;
    top: -31.063vw;
    width: 64.563vw;
    height: 60.625vw;
    transform: rotate(-150deg);
    z-index: -1;
}

section#hero-banner::after{
    content: '';
    display: block;
    position: absolute;
    background-color: var(--primary-blue);
    opacity: 0.949;
    left: -38.75vw;
    top: 19.313vw;
    width: 46.938vw;
    height: 50.938vw;
    transform: rotate(-150deg);
    z-index: -1;
}

    .banner-col {
        width: 100%;
        display: inline-block;
        flex-direction: column;
        z-index: 99;
    }

    .banner-text-container {
        color: #FFF;
        font-weight: bold;
        line-height: 1.2;
        width: 50%;
    }


        .banner-text-container h1 {
            font-size: max(3vw, 48px);
            font-weight: bold;
            line-height: 1.2;
        }

    .banner-button-container{
        margin-top: 2.188vw;
    }

        .banner-button-container .aios-btn.aios-btn-white,
        .banner-button-container .aios-btn.aios-btn-transparent{
            padding: 0.875vw 2.625vw;
            font-size: 1.125vw;
            font-weight: bold;
            margin-right: 1.125vw;            
        }

            .banner-button-container .aios-btn.aios-btn-white:hover,
            .banner-button-container .aios-btn.aios-btn-transparent:hover{
                color: #FFF;
                background-color: var(--primary-red);
            }

/* 
* 
* Product Slider Section
*
*/

section#product-section {
    display: block;
    position: relative;
    background: linear-gradient(to top, var(--secondary-blue) 50%, transparent 0);

}

.product-section-wrap {
    padding: 7.750vw 0 6.625vw 10vw;;
    overflow: hidden;
}

.product-header-nav{
    margin-right: 7.750vw;
    margin-bottom: 1.823vw;
}

.product-nav .aios-btn-sm.aios-btn-red {
    padding: 0.417vw 1.688vw;
    line-height: 1.2;
    margin: 0 0.521vw;
}

.product-nav .aios-btn-sm.aios-btn-red:hover{
    background-color: #fff;
    color: var(--primary-red);
}

.product-nav .slider-nav.aios-btn-sm.aios-btn-red:hover{
    background-color: var(--primary-red);
    color: #FFF;
}

.product-slide {
    padding-left: 1.719vw;
}

.product-slide:hover{
    cursor: pointer;
}

.product-slide .product-img {
    display: block;
    position: relative;
}

.product-slide .product-img canvas {
    display: block;
    width: 100%;
}

.product-slide .product-img img {
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity var(--ease-short-transition);
}

.product-slide .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: max(1vw, 16px);
    background-color: #FFF;
    padding: 1.667vw 0.990vw;
    transition: background-color var(--ease-short-transition);
    height: 4.375vw;
}

.product-slide:hover .product-info{
    background-color: var(--primary-blue);
}

.product-slide:hover .product-info h3
{
    color: #FFF;
}

.product-slide .product-info .aios-btn.aios-btn-red {
    padding: 0.625vw 0.781vw;
    color: #FFF;
    font-size: 16px;
}

.product-slide .product-info h3 {
    display: block;
    font-size: max(1.250vw, 24px);
    color: var(--primary-blue);
}

.product-slide .product-info h3 span {
    display: block;
    color: #4C4C4C;
    font-size: var(--font-size-default);
    padding-top: 0.469vw;
}

/* 
* 
* Icons
*
*/

section#icons-section{
    background-color: var(--secondary-blue);
}

section#icons-section .icons-wrap {
    padding: 0 15.625vw 4.948vw;
}

section#icons-section .icons-wrap .icons-container .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#icons-section .icons-wrap .icons-container .icon img {
    margin-bottom: 1.823vw;
}

section#icons-section .icons-wrap .icons-container .icon h3 {
    font-size: max(1.667vw, 32px);
    font-weight: bold;
}

/* 
* 
* About the Company
*
*/

section#about-section {
    background-color: var(--secondary-blue);
    margin-bottom: 5.365vw;
}

section#about-section .about-wrap {
    display: flex;
    justify-content: flex-start;
    padding: 4.010vw 0 4.010vw 10vw;
}

section#about-section .about-content,
section#about-section .about-img{
    width: 50%;
}

section#about-section .about-img{
    position: relative;
}

section#about-section .about-content{
    padding-top: 1.615vw;
    padding-right: 3.958vw;
}

section#about-section .about-content h2 {
    margin-bottom: 1.354vw;
}

section#about-section .about-content h3 {
    font-size: max(1.250vw, 24px);
    font-weight: bold;
    margin-bottom: 1.094vw;
}

section#about-section .about-content p{
    margin-bottom: 2.552vw;
}

section#about-section .about-content .aios-btn-sm.aios-btn-red:hover {
    background-color: #fff;
    color: var(--primary-red);
}

section#about-section .about-img .img-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 28.594vw;
    overflow: hidden;
}

section#about-section .about-img .img-container::before{
    content: '';
    display: block;
    position: absolute;
    background-color: var(--primary-red);
    opacity: 0.8;
    right: -16vw;
    top: -13.438vw;
    width: 23.125vw;
    height: 28.125vw;
    z-index: 9;
    transform: rotate(60deg);
}

section#about-section .about-img .img-container::after{
    content: '';
    display: block;
    position: absolute;
    background-color: var(--primary-blue);
    opacity: 0.851;
    right: -10.938vw;
    bottom: -21.75vw;
    width: 28.125vw;
    height: 28.125vw;
    z-index: 9;
    transform: rotate(60deg);
}

section#about-section .about-img .img-container canvas {
    display: block;
    width: 100%;
}

section#about-section .about-img .img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 
* 
* Founder Section
*
*/
section#founders-section .founder-wrap {
    padding: 4.010vw 0 2.865vw 10vw;
}

.founder-wrap .founder-nav {
    margin-right: 7.750vw;
    margin-bottom: 2.083vw;
}

.founder-wrap .founder-nav .the-company-nav .slider-nav {
    line-height: 1.2;
    margin: 0 0.521vw;
}

.the-company-nav .slider-nav.aios-btn-sm.aios-btn-red:hover {
    background-color: var(--primary-red);
    color: #FFF;
}

.founder-slider .founder-slide {
    padding-left: 1.615vw;
    transition: all var(--ease-short-transition);
}

.founder-slider .founder-slide:hover{
    cursor: pointer;
}

.founder-slider .founder-slide .founder-img {
    position: relative;
    display: block;
}

.founder-slider .founder-slide .founder-img canvas {
    display: block;
    width: 100%;
}

.founder-slider .founder-slide:hover .founder-img img{
    opacity: 1;
}

.founder-slider .founder-slide .founder-img img {
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: opacity var(--ease-short-transition);
}

.founder-slider .founder-slide .founder-info {
    margin-top: 0.833vw;
}

.founder-slider .founder-slide .founder-info h3 {
    color: var(--primary-red);
    font-size: max(1.250vw, 24px);
    font-weight: bold;
}

.founder-slider .founder-slide .founder-info h3 span {
    display: block;
    font-size: var(--font-size-default);
    color: #000;
}

/* 
* 
* Events Section
*
*/
section#events-section .events-wrap {
    display: block;
    width: 100%;
    padding: 5.156vw 5.729vw 5.365vw 6.875vw;
}

.events-wrap .section-header{
    margin-bottom: 2.083vw;
}

.event-container {
    display: block;
    width: 100%;
    position: relative;
}

.events-content .event {
    padding: 0 0.833vw;
    position: relative;
}

.events-content .event h3 {
    text-align: center;
    margin-top: 0.729vw;
    font-size: max(1.250vw, 24px);
    font-weight: bold;
}

.events-content .event .event-container .img-container {
    position: relative;
    width: 100%;
}

.events-content .event .event-container img.img-responsive {
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: opacity var(--ease-short-transition);
}

.event-container p.event-date {
    position: absolute;
    top: 0.625vw;
    left: 0.625vw;
    font-family: var(--font-family-title);
    color: #FFF;
    background-color: var(--primary-blue);
    text-align: center;
    padding: 0.781vw 1.250vw;
    border-radius: 5px;
    font-size: max(1.250vw, 24px);
    line-height: 1.2;
    font-weight: bold;
}

.event-container p.event-date span{
    display: block;
}

.event-container .happen-now{
    position: absolute;
    bottom: 1.563vw;
    width: 100%;
    padding: 0 3.281vw;
}

.event-container .happen-now p{
    color: #FFF;
    font-family: var(--font-family-default);
    font-size: max(1.250vw, 24px);
    background-color: var(--primary-red);
    border-radius: 45px;
    text-align: center;
    padding: 0.573vw 1.302vw;
}

.events-button {
    text-align: center;
    margin-top: 4.813vw;
}

.events-button a.aios-btn.aios-btn-red {
    padding: 0.833vw 2.083vw;
}

.events-button a.aios-btn.aios-btn-red:hover{
    background-color: #FFF;
    color: var(--primary-red);
}


/* 
* 
* Contact Us Section
*
*/

section#contact-section {
    background-color: var(--primary-blue);
    color: #FFF;
    padding: 6.302vw 10vw 6.042vw 10vw;
    position: relative; 
    display: block;
    overflow: hidden;
}

section#contact-section::before{
    content: '';
    display: block;
    position: absolute;
    background-color: var(--primary-red);
    left: -29.188vw;
    bottom: -33.125vw;
    width: 46.875vw;
    height: 46.875vw;
    z-index: 2;
    transform: rotate(-47deg);
}

section#contact-section::after{
    content: '';
    display: block;
    position: absolute;
    background-color: var(--primary-red);
    right: -29.438vw;
    top: -54.813vw;
    width: 53.5vw;
    height: 59.500vw;
    z-index: 3;
    transform: rotate(-47deg);
}

section#contact-section .contact-wrap .contact-info,  
section#contact-section .contact-wrap .contact-form{
    width: 50%;
}

.contact-info .section-header,
.contact-info .section-subheader, 
.contact-info p{
    color: #FFF;
}

.contact-info .section-header{
    margin-bottom: 1.510vw;
}

.contact-info .section-subheader{
    margin-bottom: 1.875vw;
    font-size: max(1.250vw, 24px);
}

.contact-info .contact-links{
    margin-bottom: 0.885vw;
}

.contact-info .contact-links i{
    font-size: max(1.250vw, 24px);
    display: inline-block;
    text-align:center;
    padding-top: 0.573vw;
    color: var(--primary-blue);
    background-color: #FFF;
    height: 2.292vw;
    width: 2.292vw;
    border-radius: 50%;
    margin-right: 0.729vw;
}

.contact-info .contact-links i.ai-font-envelope{
    font-size: max(0.938vw, 18px); 
}

.contact-form {
    font-family: var(--font-family-para);
}

.contact-content .aios-form-group{
    width: 100%;
}

.contact-content .aios-form-group.flex label{
    margin-right: 1.688vw;
    
}
.contact-content label span {
    margin-bottom: 0.750vw;
    display: block;
}

.aios-submit{
    margin-top: 1.563vw;
}

.aios-submit .aios-btn.aios-btn-red {
    padding: 0.833vw 1.875vw;
    font-family: var(--font-family-default);
}

.aios-submit .aios-btn.aios-btn-red:hover{
    background-color: #FFF;
    color: var(--primary-red);
}

/* 
* 
* Homepage Responsiveness 
*
*/

/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */ 
@media only screen and (max-width: 1199px) {

} 

