/* 
* 
* Hero Banner
*
*/
section#hero-banner {
    display: block;
    height: 100%;
    width: 100%;
    margin-top: 7.938vw;
}

.banner-container {
    width: 100%;
    z-index: 99;
    height: 100%;
}

.banner-container .accent-bg {
    transform: rotate(-150deg);
    z-index: -1;
    top: 7vw;
    left: 25vw;
}

.banner-container .accent-bg .accent-red {
    opacity: 0.8;
    left: -24.708vw;
    top: -28.063vw;
    width: 110vw;
    height: 124.750vw;
}

.banner-container .accent-bg .accent-blue {
    opacity: 0.949;
    left: 0.25vw;
    bottom: 30.313vw;
    width: clamp(56.597vw, 815px, 815px);
    height: 77.313vw;
}

.banner-container .banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: -9;
}

.banner-container .banner-background img {
    position: absolute;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    object-fit: cover;
    object-position: top;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    z-index: -99;
}

.banner-col {
    z-index: 99;
    padding: 7.625vw 11.181vw 14.75vw;
}

.banner-text-container {
    color: #FFF;
    font-weight: bold;
    line-height: 1.2;
    width: 50%;
}

.banner-text-container h1 {
    font-size: max(2.5vh, 48px);
    font-weight: bold;
}

.banner-button-container {
    margin-top: 2.188vw;
}

.banner-button-container .aios-btn.aios-btn-white, .banner-button-container .aios-btn.aios-btn-transparent {
    font-weight: bold;
    margin-right: 1.250vw;
    color: #FFF;
    width: max(10.677vw, 205px);
}

.banner-button-container .aios-btn.aios-btn-white {
    color: var(--primary-red);
    width: max(8.125vw, 156px);
}

.banner-button-container .aios-btn.aios-btn-white:hover, .banner-button-container .aios-btn.aios-btn-transparent:hover {
    color: #FFF;
    background-color: var(--primary-red);
}

/* 
* 
* About the Company
*
*/
section#about-section {
    background-color: var(--secondary-blue);
    margin-bottom: 5.365vw;
}

section#about-section .about-wrap {
    display: flex;
    justify-content: flex-start;
    padding: 2.01vw 0 5.347vw 14.688vw;
}

section#about-section .about-content, section#about-section .about-img {
    width: 50%;
}

section#about-section .about-img {
    position: relative;
}

section#about-section .about-content {
    padding-top: 1.615vw;
    padding-right: 3.958vw;
}

section#about-section .about-content h3 {
    font-size: max(1.25vw, 24px);
    font-weight: bold;
    margin: max(1.806vw, 26px) 0 max(1.458vw, 21px);
}

section#about-section .about-content p {
    margin-bottom: max(3.403vw, 49px);
}

section#about-section .about-content .aios-btn.aios-btn-red{
    height: 50px;
    width: max(8.906vw, 171px);
}

section#about-section .about-content .aios-btn.aios-btn-red:hover {
    background-color: #fff;
    color: var(--primary-red);
}

section#about-section .about-img .img-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 28.594vw;
    overflow: hidden;
}

section#about-section .about-img .img-container::before {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--primary-red);
    opacity: 0.8;
    right: -16vw;
    top: -13.438vw;
    width: 23.125vw;
    height: 28.125vw;
    z-index: 9;
    transform: rotate(60deg);
}

section#about-section .about-img .img-container::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--primary-blue);
    opacity: 0.851;
    right: -10.938vw;
    bottom: -21.75vw;
    width: 28.125vw;
    height: 28.125vw;
    z-index: 9;
    transform: rotate(60deg);
}

section#about-section .about-img .img-container canvas {
    display: block;
    width: 100%;
}

section#about-section .about-img .img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 
* 
* Events Section
*
*/
section#events-section .events-wrap {
    display: block;
    width: 100%;
    padding: 5.156vw 5.729vw 5.365vw 6.875vw;
}

.events-wrap .section-header {
    margin-bottom: 2.083vw;
}

.event-container {
    display: block;
    width: 100%;
    position: relative;
}

.events-content .event {
    padding: 0 0.833vw;
    position: relative;
}

.events-content .event h3 {
    text-align: center;
    margin-top: 0.729vw;
    font-size: max(1.250vw, 24px);
    font-weight: bold;
}

.events-content .event .event-container .img-container {
    position: relative;
    width: 100%;
}

.events-content .event .event-container img.img-responsive {
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: opacity var(--ease-short-transition);
}

.event-container p.event-date {
    position: absolute;
    top: 0.625vw;
    left: 0.625vw;
    font-family: var(--font-family-title);
    color: #FFF;
    background-color: var(--primary-blue);
    text-align: center;
    padding: 0.781vw 1.250vw;
    border-radius: 5px;
    font-size: max(1.250vw, 24px);
    line-height: 1.2;
    font-weight: bold;
}

.event-container p.event-date span {
    display: block;
}

.event-container .happen-now {
    position: absolute;
    bottom: 1.563vw;
    width: 100%;
    padding: 0 3.281vw;
}

.event-container .happen-now p {
    color: #FFF;
    font-family: var(--font-family-default);
    font-size: max(1.250vw, 24px);
    background-color: var(--primary-red);
    border-radius: 45px;
    text-align: center;
    padding: 0.573vw 1.302vw;
}

.events-button {
    text-align: center;
    margin-top: 4.813vw;
}

.events-button a.aios-btn.aios-btn-red {
    padding: 0.833vw 2.083vw;
}

.events-button a.aios-btn.aios-btn-red:hover {
    background-color: #FFF;
    color: var(--primary-red);
}

/* 
* 
* Contact Us Section
*
*/
section#contact-section {
    background-color: var(--primary-blue);
    color: #FFF;
    padding: 6.302vw 14.688vw 6.042vw 14.688vw;
    position: relative;
    display: block;
    overflow: hidden;
}

section#contact-section::before {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--primary-red);
    left: -29.188vw;
    bottom: -33.125vw;
    width: 46.875vw;
    height: 46.875vw;
    z-index: 2;
    transform: rotate(-47deg);
}

section#contact-section::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--primary-red);
    right: -29.438vw;
    top: -54.813vw;
    width: 53.5vw;
    height: 59.500vw;
    z-index: 3;
    transform: rotate(-47deg);
}

section#contact-section .contact-wrap .contact-info, section#contact-section .contact-wrap .contact-form {
    width: 50%;
}

.contact-info .section-header, .contact-info .section-subheader, .contact-info p {
    color: #FFF;    
}

.contact-info p{
    font-weight: 300;
}

.contact-info .section-header {
    margin-bottom: max(1.510vw, 14px);
}

.contact-info .section-subheader {
    margin-bottom: max(1.875vw, 39px);
    font-size: max(1.250vw, 24px);
}

.contact-info .contact-links {
    margin-bottom: max(0.885vw, 17px);
}

.contact-info .contact-links i {
    font-size: 24px;
    text-align: center;
    color: var(--primary-blue);
    background-color: #FFF;
    height: max(2.240vw, 43px);
    width: max(2.240vw, 43px);
    border-radius: 50%;
    margin-right: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info .contact-links i.ai-font-envelope {
    font-size: 18px;
}

.contact-form {
    font-family: var(--font-family-para);
}

.contact-content .aios-form-group {
    width: 100%;
    margin-bottom: max(1.250vw, 24px);
}

.contact-content .aios-form-group.flex label {
    margin-right: 1.688vw;
}

.contact-content label span {
    margin-bottom: 0.750vw;
    display: block;
}

.aios-submit {    
    margin-top: 1.563vw;
    display: flex;
    align-items: center;
}

.aios-submit .aios-btn.aios-btn-red {
    font-family: var(--font-family-default);
    height: 50px;
    width: max(9.740vw, 187px);
}

.aios-submit .aios-btn.aios-btn-red:hover {
    background-color: #FFF;
    color: var(--primary-red);
}

.mobile-contact-form{
    display: none;
    position: relative;
}

.contact-header,
.contact-close{
    display: none;
}

.mobile-contact-form .aios-btn{
    background-color: var(--primary-red);
    color: #FFF;
    width: 141px;
}

.mobile-contact-form .aios-btn:hover{
    background-color: #FFF;
    color: var(--primary-red);
}

/* 
* 
* Homepage Responsiveness 
*
*/
/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */
@media only screen and (max-width: 1199px) {
    .banner-text-container h1 {
        font-size: max(3.333vw, 30px);
    }

    .banner-col {
        padding: 6.250vw 4.375vw 11.688vw;
    }
}

@media only screen and (max-width: 991px) {
    section#contact-section{
        padding: 6.302vw 7.688vw 6.042vw 8.688vw;
    }

    .banner-container {
        height: 100vh;
    }

    .banner-container .banner-background {
        height: auto;
        min-height: 100%;
        position: absolute;
        top: 330px;
    }

    .banner-container .banner-background img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 85% bottom;
    }

    .banner-container .banner-background canvas {
        background-size: unset !important;
        background-position: right bottom;
    }

    .banner-container .banner-background::before {
        content: '';
        position: absolute;
        left: 0;
        top: -236px;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,0) 67%, rgba(255,255,255,0) 100%);
        z-index: -9;
        opacity: 1;
    }

    .banner-container .accent-bg {
        top: -173.29px;
        left: 580.06px;
    }

    .banner-container .accent-bg .accent-red {
        opacity: 0.9;
        top: -534px;
        left: -575px;
        width: 1200px;
        height: 1200px;
    }
    
    .banner-container .accent-bg .accent-blue {
        bottom: 562px;
        left: 74px;
        width: 1200px;
        height: 1200px;
    }

    .banner-text-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .banner-col {
        text-align: center;
        /* padding: 51px 25px 50px; */
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .banner-button-container {
        flex-direction: column;
        justify-content: space-between;
    }

    section#hero-banner {
        margin-top: 81px;
    }

    .banner-text-container h1 {
        font-size: 30px;
        margin: auto;
        width: 80%;
    }

    .banner-text-container h1 br {
        display: none;
    }

    .banner-button-container .aios-btn.aios-btn-white, .banner-button-container .aios-btn.aios-btn-transparent {
        font-size: 15px;
        margin: auto;
        margin-bottom: 9px;
    }

}

@media only screen and (max-width: 767px) {

    section#contact-section{
        padding: 48px 25px 48px 21px;
    }

    section#about-section .about-content h3{
        font-size: 20px;
    }

    .contact-info .section-subheader{
        font-size: 18px;
    }

    section#about-section .about-img .img-container {
        position: relative;
    }

    section#about-section .about-wrap {
        flex-flow: column-reverse;
        padding: unset;
        min-height: 100%;
    }

    section#about-section .about-content, section#about-section .about-img {
        width: 100%;
    }

    section#about-section .about-content .aios-btn.aios-btn-red{
        height: 40px;
        width: 118px;
    }

    section#about-section .about-content {
        padding: 33px 24px 58px 21px;
    }

    section#about-section .about-img {
        padding: 0 20px;
    }

    section#about-section .about-img .img-container {
        height: 100%;
        min-height: 50vh;
    }

    section#about-section .about-img .img-container::before {
        width: 401px;
        height: 401px;
        top: -225px;
        right: -216px;
    }
    
    section#about-section .about-img .img-container::after {
        width: 571px;
        height: 571px;
        right: -323px;
        bottom: -390px;
    }

    section#about-section .about-img .img-container img{
        object-position: 80%;
    }
    

    section#icons-section .icons-wrap .icons-container {
        flex-flow: column;
    }

    section#icons-section .icons-wrap .icons-container .icon {
        margin: 30px 0;
    }

    /* Contact Form Mobile Version */
    .mobile-contact-form{
        display: inline-block;
    }

    .contact-form-mobile{
        display: inline-block;
        position: relative;
    }

    .contact-header{
        display: block;
    }

	section#contact-section .contact-wrap .contact-form {
        position: fixed;
        z-index: 9999;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.70);
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        -webkit-transition: all var(--ease-long-transition);
        -o-transition: all var(--ease-long-transition);
        transition: all var(--ease-long-transition);
        overflow: hidden;
        font-size: 0;
	}

    section#contact-section .contact-wrap .contact-form.active{
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
    }

    .contact-form-wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        overflow: auto;
        align-items: center;
        padding: 25px;
    }
    
    .contact-form-wrap .aios-form-group{
        flex-direction: column;
        flex-grow: 1;
        align-items: stretch;
        margin-bottom: unset;
    }

    .contact-form .contact-form-wrap .contact-form-main{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: var(--primary-blue);
        font-size: 16px;
        padding: 39px 18px 37px;
        -webkit-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease;
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        opacity: 0;
        overflow: auto;
    }

    .contact-form.active .contact-form-wrap .contact-form-main.mobile{
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    
    h3.contact-header {
        font-family: var(--font-family-default);
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 25px;
    }
    .contact-content .aios-form-group.flex label, 
    .contact-content label span{
        margin-bottom: 12px;
        margin-right: unset;
    }
    
    .aios-submit .aios-btn.aios-btn-red{
        padding: 14px 24px;
        font-size: 15px;
        height: 45px;
        width: 141px;
    }
    
    .contact-close{
        display: inline-block;
        position: absolute;
        top: 16px;
        right: 16px;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        font-size: 13px;
        color: #FFF;
        border: none;
        padding: 0;
        background-color: rgb(255 255 255 / 22%);
        font-weight: 600;
        -webkit-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
        -webkit-appearance: none;
        appearance: none;
    }

    
    .contact-info .contact-links i {
        width: 35px;
        height: 35px;
        font-size: 21px;
    }

    .contact-info .contact-links i.envelope img{
        width: 19px;
        height: 14px;
    }

    .contact-info .contact-links i.map-locator img,
    .contact-info .contact-links i.phone img{
        width: 13px;
        height: 18px;
    }

    .contact-info .contact-links:last-of-type {
        margin-bottom: 31px;
    }

    .contact-close:hover{
        background-color: #FFF;
        color: var(--primary-blue);
    }

    .banner-text-container h1 {
        font-size: 30px;
    }

    .banner-col {
        padding: 51px 25px 50px;
    }

    .banner-container .accent-bg {
        top: -71.29px;
        left: 566.06px;
    }
    
    .banner-container .accent-bg .accent-red {
        left: -342px;
    }
    
    .banner-container .accent-bg .accent-blue {
        bottom: 561px;
        left: 42px;
    }
    
    .banner-container .banner-background img {
        object-position: 75% bottom;
    }
}

@media only screen and (max-width: 480px) {
    .banner-container .accent-bg {
        top: 54.71px;
        left: 419.06px;
    }
    
    .banner-container .banner-background img {
        object-position: 70% bottom;
    }

    .banner-text-container h1{
        width: 100%;
    }
}