/* 
* 
* Events Section
*
*/
.events-archive{
    margin-top: unset !important;
}

section#events-section .events-wrap {
    display: block;
    width: 100%;
    padding: 6.875vw 11.458vw 7.153vw;
}

.no-events{
    text-align: center;
    padding: 30px;
}

.events-wrap .section-header,
.completed-events-wrap .section-header{
    margin-bottom: 2.639vw !important;
}

.event-container {
    display: block;
    width: 100%;
    position: relative;
}

.events-content .event {
    padding: 0 0.833vw 24px;
    position: relative;
    width: calc(100% / 3);
}

.events-content .event h3 {
    text-align: center;
    margin: max(1.319vw, 19px) 0;
    font-size: max(1.25vw, 24px);
    font-weight: bold;
    height: 23px;
}

.events-content .event .event-container .img-container {
    position: relative;
    width: 100%;
}

.events-content .event .event-container canvas{
    display: block; 
    width: 100%;
}

.events-content .event .event-container img {
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: opacity var(--ease-short-transition);
}

.event-container p.event-date {
    position: absolute;
    top: max(0.625vw, 12px);
    left: max(0.625vw, 12px);
    font-family: var(--font-family-title);
    color: #FFF;
    background-color: var(--primary-blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 75px;
    border-radius: 5px;
    font-size: max(1.250vw, 24px);
    line-height: 1.2;
    font-weight: bold;
    box-shadow: 0px 6px 9px 0px rgba(34, 31, 31, 0.17);
}

.event-container p.event-date span{
    display: block;
}

.event-container .happen-now{
    position: absolute;
    bottom: 1.563vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-container .happen-now p{
    color: #FFF;
    font-family: var(--font-family-default);
    font-size: max(1.250vw, 24px);
    background-color: var(--primary-red);
    border-radius: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: max(11.667vw, 224px);
}

.events-button {
    text-align: center;
    margin-top: 4.813vw;
}

.events-button a.aios-btn.aios-btn-red {
    padding: 0.833vw 2.083vw;
}

.events-button a.aios-btn.aios-btn-red:hover{
    background-color: #FFF;
    color: var(--primary-red);
}


/* 
* 
* Events Section
*
*/
section#completed-events-section {
    background-color: var(--secondary-blue);
    padding: 6.406vw 11.458vw 6.198vw;
}

.completed-events {
    width: calc(100% / 3);
    height: 100%;
    padding: max(0.833vw, 16px);
}

.completed-events .completed-event-container {
    background: #FFF;
}

.completed-event-container .img-container{
    display: block;
    position: relative;
}

.completed-event-container .img-container img{
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: opacity var(--ease-short-transition);
}

.completed-event-container .events-content{
    width: 100%;
    display: inline-block;
    margin-left: max(1.198vw, 17px);
    margin-right: max(1.198vw, 17px);
}

.completed-event-container .events-content h3{
    font-weight: bold;   
    line-height: 1;
}

.completed-event-container .events-content p{
    line-height: 1.5;
}

.completed-event-container .events-content h3, 
.completed-event-container .events-content p{
    font-size: var(--font-size-default);
}

.load-more-container, 
.upcoming-load-more-container {
    text-align: center;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--ease-short-transition);
}

.load-more-container .aios-btn,
.upcoming-load-more-container .aios-btn{
    color: #FFF;
    width: max(11.875vw, 171px);
    height: 50px;
}

.load-more-container .aios-btn:hover,
.upcoming-load-more-container .aios-btn:hover{
    color: var(--primary-red);
    background-color: #FFF;
}

.view-more-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.view-more{
    margin-top: 54px;
    width: max(8.906vw, 171px);
}

a.view-more:hover{
    background-color: #FFF;
    color: var(--primary-red);

}

/* Featured Events */
section.featured-section {
    display: block;
    width: 100%;
    padding: 6.875vw 11.458vw 1.153vw;
}

section.featured-events {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
}

section.featured-events .slider-navs {
    position: absolute;
    bottom: 38px;
    right: 50px;
    z-index: 9;
}

.featured-events-wrap .slider-navs button{
    background-color: transparent;
    color: #FFF;
    margin: 0 5px;
}

.featured-events-wrap .slider-navs button:before{
    filter: brightness(0) invert(1);
}

section.featured-events .accent-bg {
    transform: rotate(-30deg);
    bottom: -88px;
    right: -280px;
    opacity: 0.8;
}

section.featured-events .accent-bg .accent-red {
    right: -413px;
    bottom: -530px;
    width: 916px;
    height: 916px;
}

.featured-event-slider .event-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 100%;
    width: 100%;
    position: relative;
    display: block !important;
}

.featured-event-slider .event-slide::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(37,124,191,1) 26%, rgba(37,124,191,0.14189425770308128) 74%, rgba(255,255,255,0) 90%);
}

.event-slide .event-info {
    width: 50%;
    color: #FFF;
    padding: max(3.403vw, 49px) 0 max(2.708vw, 39px) max(3.611vw, 52px);
    position: relative;
    height: 550px;
}

.event-slide .event-info h3.section-header {
    font-size: 40px !important;
    line-height: 1 !important;
    color: #FFF;
    margin: 0 0 16px 0 !important;
}

.event-slide .event-info p{
    margin: unset !important;
}

.event-slide .event-info p:nth-of-type(1){
    font-family: var(--font-family-default);
    font-size: 24px;
    margin-bottom: max(2.500vw, 36px) !important;
    line-height: 1 !important;
}

.event-slide .event-info p:nth-of-type(2) {
    margin-bottom: max(5.486vw, 79px) !important;
    font-size: 18px;
    line-height: 26px !important;
    color: #fff;
    display: block;
    width: 60%;
}

.event-slide .event-info .events-more.aios-btn {
    font-style: normal;
    text-decoration: none;
    height: 50px;
    width: max(8.906vw, 171px);
}

.event-slide .event-info .archive-more.aios-btn:hover{
    color: var(--primary-red);
    background-color: #FFF
}

/* Live Event */

.live-event-wrap {
    padding: 6.875vw 13.542vw 1.153vw;
}

.video-content {
    position: relative;
    width: 100%;
    display: block;
}

.video-content .event-title{
    display: block;
    position: absolute;
    bottom: 40px;
    left: 30px;
    font-size: 32px;
    color: #FFF;
}

.video-content .live-badge{
    display: block;
    position: absolute;
    top: 20px;
    left: 21px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgb(245, 62, 64);
    text-transform: uppercase;
    color: #fff;
    width: 66px;
    height: 33px;
    border-radius: 3px;
}

.live-event-container .video-content .what-plyr .plyr > button.plyr__control{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: transparent url(../../../images/play-button.png) no-repeat;
    background-size: 100%;
    margin: auto;
    cursor: pointer;
}

.live-event-container .video-content .what-plyr .plyr > button.plyr__control svg{
    display: none;
}

.live-event-wrap .happening-now-badge{
    width: max(13.021vw, 250px);
    height: 44px;
    margin-bottom: 18px;
}

.live-event-wrap .happening-now-badge span{
    margin-right: 10px;
}

.live-event-container-wrapper {
    background-color: var(--primary-blue);
    text-align: center;
    padding: 0 55px 60px
}

.live-event-container h2.section-header {
    margin: unset !important;
    padding: 52px 0 41px;
    font-size: var(--font-size-title) !important;
    color: #FFF;
}

@media only screen and (max-width: 1199px) {
    .event-container .happen-now p{
        font-size: 18px;
    }

    section.featured-events .accent-bg{
        bottom: -114px;
        right: -230px;
    }

    .live-event-wrap{
        padding: 6.875vw 4.542vw 1.153vw;
    }

    section#events-section .events-wrap{
        padding: 6.875vw 2.458vw 7.153vw;
    }

    section#completed-events-section{
        padding: 6.406vw 2.458vw 6.198vw;
    }
}

/* Responsive */
@media only screen and (max-width: 991px) {    
    .events-content .event, 
    .completed-events{
        width: calc(100% / 2);
    }

    .live-event-wrap,
    section.featured-section,
    section#events-section .events-wrap,
    section#completed-events-section{
        padding: 48px 20px 51px;
    }
}

@media only screen and (max-width: 767px) {

    .home .events-content .event, .completed-events{
        width: 100%;
    }

    .completed-events{
        width: 100%;
    }

    .events-content .event h3, 
    .event-container p.event-date{
        font-size: 16px;
        height: 48px;
    }

    .event-container p.event-date{
        font-size: 12px;
        width: 40px;
        height: 37px;
    }
    
    .event-container p.event-date span{
        font-size: 10px;
    }
    

    .completed-event-container .events-content h3, .completed-event-container .events-content p{
        font-size: 16px;
    }

    section#completed-events-section{
        padding: 51px 25px 59px;
    }

    section.featured-events{
        overflow: unset;
    }
    
    section.featured-events .accent-bg,
    .event-slide .event-info p:nth-of-type(2){
        display: none;
    }

    .event-slide .event-info{
        width: 100%;
        text-align: center;
        padding: 102px 54px 30px;
    }

    .event-slide .event-info .events-more.aios-btn{
        margin: auto;
        font-size: 16px;
        height: 40px;
        width: 123px;
    }

    .event-slide .event-info h3.section-header{
        font-size: 24px !important;
    }

    .event-slide .event-info p:nth-of-type(1){
        font-size: 20px
    }

    section.featured-events .slider-navs{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        bottom: -3px;
        right: 0;
        margin-top: 30px;
    }

    section.featured-events .slider-navs button{
        border-color: var(--primary-red);
        color: var(--primary-red);
    }

    section.featured-events .slider-navs button:before{
        filter: unset;
    }

    .featured-event-slider .event-slide{
        height: 300px;
        background-position: center center;
    }

    .featured-event-slider .event-slide::before {
        background: rgb(37,124,191);
        background: linear-gradient(0deg, rgba(37,124,191,0.7875525210084033) 74%, rgba(37,124,191,0.14329481792717091) 99%, rgba(255,255,255,0) 100%);
    }

    .live-event-wrap .happening-now-badge{
        font-size: 12px;
        height: 27px;
        width: 134px;
    }

    .live-event-container h2.section-header{
        display: none;
    }

    .live-event-container-wrapper{
        padding: 13px 14px;
    }

    .video-content .live-badge{
        font-size: 13px;
        width: 41px;
        height: 20px;
        top: 13px;
        left: 13px;
    }

    .video-content .event-title{
        font-size: 17px;
        left: 13px;
        bottom: 20px;
    }

    .live-event-container .video-content .what-plyr .plyr > button.plyr__control{
        width: 60px;
        height: 60px
    }
}