
div#content-full.events-single{
    margin-top:6.094vw;
    margin-bottom: max(6.719vw, 129px);
    padding: 0 8.646vw;
}

div#content-full.events-single .video-content .what-plyr {
    display: inline-block;
    padding: 0 max(13.542vw, 260px);
    margin-bottom: 3.646vw;
}

div#content-full.events-single .video-content .what-plyr .plyr > button.plyr__control{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: transparent url(../../../images/play-button.png) no-repeat;
    background-size: 100%;
    margin: auto;
    cursor: pointer;
}

div#content-full.events-single .video-content .what-plyr .plyr > button.plyr__control svg, #hp-what .what-plyr .plyr > button.plyr__control span{
    display: none;
}

@media only screen and (max-width: 991px) {
    div#content-full.events-single {
        padding: 0 20px;
        margin-top: 50px;
        margin-bottom: 118px;
    }

    div#content-full.events-single .video-content .what-plyr {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3.646vw;
        padding: unset;
        width: 100%;
    }

    div#content-full.events-single .video-content .what-plyr .plyr > button.plyr__control {
        width: 60px;
        height: 60px;
    }

    .innerpage-banner-wrap p{
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {
    div#content-full.events-single .video-content .what-plyr .plyr > button.plyr__control {
        width: 40px;
        height: 40px;
    }
}