/* 
* 
* Events Section
*
*/
.events-archive{
    margin-top: unset !important;
}

section#events-section .events-wrap {
    display: block;
    width: 100%;
    padding: 6.875vw 11.458vw 7.153vw;
}

.no-events{
    text-align: center;
    padding: 30px;
}

.events-wrap .section-header,
.completed-events-wrap .section-header{
    margin-bottom: 2.639vw !important;
}

.event-container {
    display: block;
    width: 100%;
    position: relative;
}

.events-content .event {
    padding: 0 0.833vw;
    position: relative;
    width: calc(100% / 3);
}

.events-content .event h3 {
    text-align: center;
    margin: max(1.319vw, 19px) 0;
    font-size: max(1.25vw, 24px);
    font-weight: bold;
}

.events-content .event .event-container .img-container {
    position: relative;
    width: 100%;
}

.events-content .event .event-container canvas{
    display: block; 
    width: 100%;
}

.events-content .event .event-container img {
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: opacity var(--ease-short-transition);
}

.event-container p.event-date {
    position: absolute;
    top: max(0.625vw, 12px);
    left: max(0.625vw, 12px);
    font-family: var(--font-family-title);
    color: #FFF;
    background-color: var(--primary-blue);
    text-align: center;
    padding: max(0.885vw, 17px) max(1.250vw, 19px);
    border-radius: 5px;
    font-size: max(1.250vw, 24px);
    line-height: 1.2;
    font-weight: bold;
    box-shadow: 0px 6px 9px 0px rgba(34, 31, 31, 0.17);
}

.event-container p.event-date span{
    display: block;
}

.event-container .happen-now{
    position: absolute;
    bottom: 1.563vw;
    width: 100%;
    padding: 0 3.281vw;
}

.event-container .happen-now p{
    color: #FFF;
    font-family: var(--font-family-default);
    font-size: max(1.250vw, 24px);
    background-color: var(--primary-red);
    border-radius: 45px;
    text-align: center;
    padding: 0.573vw 1.302vw;
}

.events-button {
    text-align: center;
    margin-top: 4.813vw;
}

.events-button a.aios-btn.aios-btn-red {
    padding: 0.833vw 2.083vw;
}

.events-button a.aios-btn.aios-btn-red:hover{
    background-color: #FFF;
    color: var(--primary-red);
}


/* 
* 
* Events Section
*
*/
section#completed-events-section {
    background-color: var(--secondary-blue);
    padding: 6.406vw 11.458vw 6.198vw;
}

.completed-events {
    width: calc(100% / 3);
    height: 100%;
    padding: max(0.833vw, 16px);
}

.completed-events .completed-event-container {
    background: #FFF;
}

.completed-event-container .img-container{
    display: block;
    position: relative;
}

.completed-event-container .img-container img{
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: opacity var(--ease-short-transition);
}

.completed-event-container .events-content{
    width: 100%;
    display: inline-block;
    margin-left: max(1.198vw, 17px);
}

.completed-event-container .events-content h3{
    font-weight: bold;   
    line-height: 1;
}

.completed-event-container .events-content p{
    line-height: 1.5;
}

.completed-event-container .events-content h3, 
.completed-event-container .events-content p{
    font-size: var(--font-size-default);
}

.load-more-container, 
.upcoming-load-more-container {
    text-align: center;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--ease-short-transition);
}

.load-more-container .aios-btn,
.upcoming-load-more-container .aios-btn{
    color: #FFF;
    width: max(11.875vw, 171px);
    height: 50px;
}

.load-more-container .aios-btn:hover,
.upcoming-load-more-container .aios-btn:hover{
    color: var(--primary-red);
    background-color: #FFF;
}

a.view-more{
    margin-top: 54px;
    width: max(8.906vw, 171px);
}

a.view-more:hover{
    background-color: #FFF;
    color: var(--primary-red);

}

/* Featured Events */
section.featured-section {
    display: block;
    width: 100%;
    padding: 6.875vw 11.458vw 1.153vw;
}

section.featured-events {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
}

section.featured-events .slider-navs {
    position: absolute;
    bottom: 38px;
    right: 50px;
    z-index: 9;
}

.featured-events-wrap .slider-navs button{
    background-color: transparent;
    color: #FFF;
    margin: 0 5px;
}

section.featured-events .accent-bg {
    transform: rotate(-30deg);
    bottom: -16.208vw;
    right: -18.75vw;
    opacity: 0.8;
}

section.featured-events .accent-bg .accent-red {
    right: -413px;
    bottom: -530px;
    width: clamp(63.611vw, 916px, 916px);
    height: clamp(63.611vw, 916px, 916px);
}

.featured-event-slider .event-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 100%;
    width: 100%;
    position: relative;
    display: block !important;
}

.featured-event-slider .event-slide::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(37,124,191,1) 26%, rgba(37,124,191,0.14189425770308128) 74%, rgba(255,255,255,0) 90%);
}

.event-slide .event-info {
    width: 50%;
    color: #FFF;
    padding: max(3.403vw, 49px) 0 max(2.708vw, 39px) max(3.611vw, 52px);
    position: relative;
}

.event-slide .event-info h3.section-header {
    font-size: 40px !important;
    line-height: 1 !important;
    color: #FFF;
    margin: 0 0 16px 0 !important;
}

.event-slide .event-info p{
    margin: unset !important;
}

.event-slide .event-info p:nth-of-type(1){
    font-family: var(--font-family-default);
    font-size: 24px;
    margin-bottom: max(2.500vw, 36px) !important;
    line-height: 1 !important;
}

.event-slide .event-info p:nth-of-type(2) {
    margin-bottom: max(5.486vw, 79px) !important;
    font-size: 18px;
    line-height: 26px !important;
    color: #fff;
    display: block;
    width: 60%;
}

.event-slide .event-info .events-more.aios-btn {
    font-style: normal;
    text-decoration: none;
    height: 50px;
    width: max(8.906vw, 171px);
}

.event-slide .event-info .archive-more.aios-btn:hover{
    color: var(--primary-red);
    background-color: #FFF
}


/* Responsive */
@media only screen and (max-width: 991px) {
    .events-content .event, 
    .completed-events{
        width: calc(100% / 2);
    }
}

@media only screen and (max-width: 767px) {
    .events-content .event, 
    .completed-events{
        width: 100%;
    }

    .events-content .event h3, 
    .event-container p.event-date{
        font-size: 20px;
    }
    
    .event-container p.event-date span{
        font-size: 16px;
    }
    

    .completed-event-container .events-content h3, .completed-event-container .events-content p{
        font-size: 16px;
    }

    section#completed-events-section{
        padding: 51px 25px 59px;
    }
}